<ion-header>
  <!---->
  <ion-navbar>
    <button ion-button icon-only menuToggle *ngIf="logined">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <!--
  <ion-toolbar *ngIf="logined">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-toolbar>-->
</ion-header>


<ion-content class="padding" padding>
  <form novalidate [formGroup]="myForm" (ngSubmit)="login()">
    <div small text-right style="color:#d8d8d8">version:{{CurrVersion}}</div>
    <div class="list list-inset" *ngIf="logined">
      <ion-avatar class="avatar">
        <img col-6 src="{{userphotoUrl}}">
      </ion-avatar>
      <h2 text-center style="color:#514F66">
        <label class="item item-input floating">
          {{fullname}}
        </label>
      </h2>
      <h5 text-center style="color:#514F66"> {{userposition}}</h5>
      <button ion-button block icon-right color="danger" type="button" round (click)="logout()">
        Logout
        <ion-icon name="log-out"></ion-icon>
      </button>
    </div>
    <div class="list list-inset" *ngIf="logouted">
      <label class="item item-input floating">
        <ion-select class="form-control" full placeholder="Company" [(ngModel)]="ddlUserGroup" formControlName="usergroup" style="max-width:100%;">
          <ion-option value="10" (selected)="selected">PTT</ion-option>
          <ion-option value="61">PTTOR</ion-option>
          <ion-option value="BSA">BSA</ion-option>
        </ion-select>
      </label>
      <label class="item item-input floating">
        <input class="form-control" type="text" placeholder="Username" [(ngModel)]="txtUsername" formControlName="username">
      </label>
      <label class="item item-input">
        <input class="form-control" type="password" placeholder="Password" [(ngModel)]="txtPassword" formControlName="password">
      </label>
      <label class="item item-input">
        <button ion-button block icon-right color="primary" type="submit" round>
          Login
          <ion-icon name="log-in"></ion-icon>
        </button>
      </label>
    </div>

  </form>
</ion-content>