<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <ion-title>
          PTT DocMailing</ion-title>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-navbar>
  <!-- <ion-grid class="grid-head-info">
    <ion-row>
      <ion-col col-12 center text-center>
        <div> 
  <strong style="color: #514F66;">{{name}}</strong>
  </div>
  </ion-col>
  </ion-row>
  </ion-grid> -->
</ion-header>

<ion-content padding>
  <!-- <ion-slides pager>
    <ion-slide style="background-color: transparent">
      <h3>2018.05.21.001:Include check permission </h3>
      <small>Remark: </small>
      <small>version {{versionNumber}}</small>
    </ion-slide>
  </ion-slides> -->
  <ion-list list-md>
    <ion-item *ngIf="isNoData" text-center>No Data</ion-item>
    <ion-item text-center round style="/*border-radius: 64px;*/background-color: #007bff; color:#ffffff;">My Tasks</ion-item>
    <ion-item *ngFor="let c of lstDoc">
      <ion-thumbnail item-start class="list-item-thumbnail">
        <img src="{{c.sStepIcon}}">
      </ion-thumbnail>
      <h2 class="box-head">{{c.sDocRequestNo}}</h2>
      <p class="box-detail">{{c.sStepName}}</p>
      <button ion-button clear item-end (click)="viewdetail(c.nDocID)">View</button>
    </ion-item>
  </ion-list>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
      <ion-tabs>
      <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
      <ion-tab [root]="tab2Root" tabTitle="My Tasks" tabIcon="keypad"></ion-tab>
      <ion-tab [root]="tab3Root" tabTitle="Scan" tabIcon="barcode"></ion-tab>
      <ion-tab [root]="tab4Root" tabTitle="Search" tabIcon="search"></ion-tab>
      <ion-tab [root]="tab5Root" tabTitle="My Profile" tabIcon="contact"></ion-tab>
    </ion-tabs>  
  </ion-toolbar>
</ion-footer> -->