<ion-header color="Darktone">
  <ion-navbar>
    <ion-row>
      <ion-col>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <ion-title> PTT DocMailing</ion-title>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list list-md>
    <ion-item text-center round style="  border-top-right-radius: 20px 20px; border-top-left-radius: 20px 20px; background-color: #007bff; color:#ffffff;">My Tasks</ion-item>
    <ion-item *ngIf="isNoData" text-center style="min-height: 430px;border-bottom-left-radius: 20px 20px;border-bottom-right-radius: 20px 20px;">
      No Data</ion-item>
    <ion-item *ngFor="let c of lstDoc">
      <ion-thumbnail item-start class="list-item-thumbnail">
        <img src="{{c.sStepIcon}}">
      </ion-thumbnail>
      <h2 class="box-head">{{c.sDocRequestNo}}</h2>
      <p class="box-detail">{{c.sStepName}}</p>
      <small>
        <label *ngIf="c.nPrice != null" style="font-size: 1.0rem;line-height: normal;text-overflow: inherit;color: #666;">ค่าเดินทาง {{c.nPrice}} บาท</label>
        <label *ngIf="c.nPrice == null" style="font-size: 1.0rem;line-height: normal;text-overflow: inherit;color: #666;">ค่าเดินทาง - บาท</label>
      </small>
      <button ion-button clear item-end (click)="presentActionSheet(c.nDocID,c.sDetail)">
        <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
      </button>
      <button ion-button clear item-end (click)="viewdetail(c.nDocID)">View</button>
    </ion-item>
  </ion-list>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
      <ion-tabs>
      <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
      <ion-tab [root]="tab2Root" tabTitle="My Tasks" tabIcon="keypad"></ion-tab>
      <ion-tab [root]="tab3Root" tabTitle="Scan" tabIcon="barcode"></ion-tab>
      <ion-tab [root]="tab4Root" tabTitle="Search" tabIcon="search"></ion-tab>
      <ion-tab [root]="tab5Root" tabTitle="My Profile" tabIcon="contact"></ion-tab>
    </ion-tabs>  
  </ion-toolbar>
</ion-footer> -->