 ion-header {
     .toolbar-background-ios,
     .toolbar-background-md {
         background-image: url('../assets/image/bg_portrait.png'); //  background-color: #3c8dbc;
     }
     .toolbar-content {}
     .toolbar-title-ios,
     .toolbar-title-md {
         //color: #868e96;
         color: #514F66; //    background-color: #3c8dbc;
     }
     .bar-button-default-ios,
     .bar-button-default-md {
         //color: #868e96;
         color: #514F66; //514F66  
     }
 }

 .content-ios,
 .content-md {
     background-color: #d6ebed !important;
 }

 @media (max-width: 1242px) {
     ion-content {
         //  background-image: url('../assets/image/bg_portrait.png'); //background-position: fixed;
         background-size: 100%;
         background-repeat: no-repeat;
         width: 100%;
         height: 100%;
         background-color: #d6ebed;
     }
 }

 @media (min-width: 1243px) {
     ion-content {
         //  background-image: url('../assets/image/bg_portrait.png'); //background-position: fixed;
         background-size: 100%;
         background-repeat: no-repeat;
         width: 100%;
         height: 100%;
         background-color: #d6ebed;
     }
 }

 .reqField {
     color: #dc3545 !important;
 }

 .content-ios,
 .content-md {
     background-color: transparent;
 }

 .p-h3 {
     font-size: 1.4rem;
     color: black !important;
 }

 .p-h3-primary {
     font-size: 1.4rem;
     color: #007bff !important;
 }

 .navbar-background {
     background-color: #488aff;
 }