<ion-header>

  <ion-navbar no-border-bottom>
    <ion-buttons start>
      <button ion-button (click)="clear()">เคลียร์</button>
    </ion-buttons>
    <ion-title>ค้นหา</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">เสร็จ</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label color="primary">วันที่ขอรับบริการ</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="sSearch_ReqDate">
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label color="primary">เลือกจุดบริการ</ion-label>
        <ion-select [(ngModel)]="sSearch_CounterService">
          <ion-option *ngFor="let itm of lstCounter" [value]="itm.nPointLocationID">{{itm.PointName}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary">เลขขอรับบริการ</ion-label>
        <ion-input [(ngModel)]="sSearch_TrackingNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">สถานะ</ion-label>
        <ion-select [(ngModel)]="sSearch_Status">
          <!-- <ion-option *ngFor="let stp of lstStep" [value]="stp.sStepID">{{stp.sStepName}}</ion-option> -->
          <ion-option value="0">
            ร่างเอกสาร</ion-option>
          <ion-option value="1">
            รออนุมัติ</ion-option>
          <ion-option value="2">
            ไม่อนุมัติ</ion-option>
          <ion-option value="3">
            เอกสารระหว่างดำเนินการ</ion-option>
          <ion-option value="4">
            เอกสารเข้า</ion-option>
          <ion-option value="5">
            เอกสารส่งคืน</ion-option>
          <ion-option value="6">
            ปิดงาน</ion-option>
          <ion-option value="7">ยกเลิก</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-content>