page-search {
    button.item-ios,
    button.item-md {
        background-color: rgba(255, 255, 255, 0.6);
    } //  .button-md,
    //     .button-ios {
    //         border-radius: 2px;
    //         height: 2.4em;
    //         font-size: 1.4rem;
    //     }
    // .form-control {
    //     //     display: block;
    //     //     width: 100%;
    //     //     padding: .375rem .75rem;
    //     //     font-size: 1rem;
    //     //     line-height: 1.5;
    //     //     color: #495057;
    //     //     background-color: #fff;
    //     //     background-clip: padding-box;
    //     //     border: 1px solid #ced4da;
    //     //     border-radius: .25rem;
    //     //     transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    //     // }
    //     /**
    //  * Items
    //  * --------------------------------------------------
    //  */
    .item {
        // background-color: #fff;
        // color: #444; // position: relative;
        //z-index: 2; // display: block;
        margin: -1px; //   padding: 16px;
        border-color: #ddd;
        border-width: 1px;
        border-style: solid none none none; // font-size: 16px; 
    }
    .box-head {
        font-size: 14px;
        font-weight: bold;
        color: #000;
    }
    .box-detail {
        font-size: 14px;
        font-weight: normal; // color: #000;
    }
    .list-item-thumbnail {
        min-width: 36px !important;
        min-height: 36px !important;
    }
    .list-item-thumbnail>img {
        width: 36px !important;
        height: 36px !important;
    }
}