<!-- <link href="assets/css/site.css" rel="stylesheet"> -->
<!-- <link href="assets/css/custom.css" rel="stylesheet"> -->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PTT DocMailing</ion-title>
  </ion-navbar>
  <!---->
  <ion-toolbar no-border-top>
    <ion-searchbar (ionInput)="getItems($event)" showCancelButton="true" placeholder="ค้นหาจาก เลขขอรับบริการ"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="filterCust($event)">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--<ion-card>-->
  <!-- <ion-card-header>-->
  <!-- ค้นหาเอกสาร -->
  <!--</ion-card-header> -->
  <!-- <ion-card-content class="content_span"> -->

  <ion-list list-md>
    <ion-item text-center round style="  border-top-right-radius: 20px 20px; border-top-left-radius: 20px 20px; background-color: #007bff; color:#ffffff;">รายการ</ion-item>
    <ion-item *ngIf="isNoData" text-center>
      No Data</ion-item>
    <ion-item *ngFor="let c of lstDoc">
      <ion-thumbnail item-start class="list-item-thumbnail">
        <img src="{{c.sStepIcon}}">
      </ion-thumbnail>
      <h2 class="box-head">{{c.sDocRequestNo}}</h2>
      <p class="box-detail">{{c.sStepName}}</p>
      <button ion-button clear item-end (click)="viewdetail(c.nDocID)">View</button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- </ion-card-content> -->
  <!--</ion-card>-->

</ion-content>