<!-- <link href="../../assets/css/bootstrap.min.css" rel="stylesheet"> -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{DocObj.sDocRequestNo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      ข้อมูลผู้ส่งเอกสาร
    </ion-card-header>
    <ion-card-content class="content_span">
      <ion-item>
        <ion-label col-4 start class="box-head box-head-primary" stacked>เลขขอรับบริการ</ion-label>
        <ion-label col-8 text-wrap end class="box-detail">{{DocObj.sDocRequestNo}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label col-4 start class="box-head box-head-primary" stacked>ชื่อผู้ส่ง</ion-label>
        <ion-label col-8 text-wrap end class="box-detail">{{DocObj.sSendName}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label col-4 start class="box-head box-head-primary" stacked>หน่วยงานที่สังกัด</ion-label>
        <ion-label col-8 end text-wrap class="box-detail">{{DocObj.sSendUnitName}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label col-4 start class="box-head box-head-primary" stacked>ประเภทพัสดุ</ion-label>
        <ion-label col-8 text-wrap end class="box-detail">{{DocObj.sDocType}} ({{DocObj.sParcelType}})</ion-label>
      </ion-item>
      <ion-item>
        <ion-label col-4 start class="box-head box-head-primary" stacked>ประเภทการส่ง</ion-label>
        <ion-label col-8 text-wrap end class="box-detail">{{DocObj.sDocInternalExternal}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label col-4 start class="box-head box-head-primary" stacked>จุดฝากบริการ</ion-label>
        <ion-label col-8 text-wrap end class="box-detail">{{DocObj.sDeliveryPoint}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label start class="box-head box-head-primary"> </ion-label>
        <ion-label end class="box-details">
          <!-- <a (click)="viewAttachFiles(DocObj.DocID)">ดูเอกสารแนบ</a> -->
        </ion-label>

      </ion-item>
      <!-- -->
      <!-- <ion-item>
        <ion-label start class="box-head box-head-primary">รูปถ่าย</ion-label>
        <ion-label end class="box-details">ดูรูปถ่าย</ion-label>
      </ion-item> -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>ข้อมูลผู้รับเอกสาร</ion-card-header>
    <ion-card-content class="content_span">
      <ion-list *ngFor="let child of itemObj ; let i = index; ">
        <ion-item>
          <ion-label text-wrap end class="box-detail">
            <p col-12>{{i+1}}. {{ child.sRecipientName }} ({{Tel. child.sTrackingNumber}})</p>
            <small col-12>{{child.sSendPlace}}</small>
          </ion-label>
        </ion-item>
      </ion-list>
      <!-- <ion-item>
        <ion-label col-4 start class="box-head box-head-primary" stacked>ชื่อผู้รับ ({{idx}})</ion-label>
        <ion-label col-8 text-wrap end class="box-detail">{{DocObj.sRecipientName}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label col-4 start class="box-head box-head-primary" stacked>สถานที่จัดส่ง</ion-label>
        <ion-label col-8 end text-wrap class="box-detail">{{DocObj.sSendPlace}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label col-4 start class="box-head box-head-primary" stacked>หมายเหตุ</ion-label>
        <ion-label col-8 end text-wrap class="box-detail">{{DocObj.sNotes}}
        </ion-label>
      </ion-item> -->
      <ion-item *ngIf="IsMessenger">
        <ion-label start class="box-head box-head-primary">ค่าเดินทาง</ion-label>
        <ion-label end>
          <input text-right type="number" col-8 [(ngModel)]="txtPrice" value="{{DocObj.nPrice}}"> บาท
        </ion-label>
      </ion-item>
      <ion-item *ngIf="IsMessenger">
        <ion-label col-12 class="box-head box-head-primary">
          <button full round ion-button (click)="update_price(DocObj.DocID)">บันทึกค่าเดินทาง</button>
        </ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-label start class="box-head box-head-primary" stacked>ลายเซ็นต์</ion-label>
        <ion-label end class="box-detail">
        </ion-label>
      </ion-item> -->
    </ion-card-content>
  </ion-card>
</ion-content>