page-app-data {
    .btn-Confirm {
        background-color: #3c8dbc;
        border-color: #32769e;
        color: white;
    }
    .btn-Clear {
        color: #fff;
        background-color: #ac2925;
        border-color: #761c19;
    }
}